$peach: #ffe4cc;
$black: #383030;


@font-face {
	font-family:'nickainley';
	src: url(fonts/nickainley.otf);
}


a {
	text-decoration: none;
	color: $black;
	font-weight: bold;

	&:hover {
		text-decoration: none;
		opacity: .6;
  		transition-duration: 800ms;
	}
}

body  {
	font-size: 100%;
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	background-color: #fff2f2;
	color: $black;
	
}

.headline {

	&__main {
		font-size: 1.8em;
		letter-spacing: 3px;
		font-style: italic;
		text-align: center;
		padding: 15px 0 0 0;
		line-height: 1.3;

		@media (min-width: 500px) {
			font-size: 2em;
			letter-spacing: 4px;
		}
	}	

	&__slogan {
		font-family: monospace;
		text-align: center;
		padding-top: 10px;
		font-size: 1em;
		color: #e50c0c;
	}

	&__image-container {
		position: relative;
	}

	&__image {
		max-width: 1000px;
		width: 95%;
		margin: 20px auto 0;
		display: block;
	}

	&__info-window {
		display: none;
		background-color: #fd7675;
		width: 220px;
		font-size: .7em;
		padding: 20px;
		position: absolute;
		margin-top: -22%;
		left: 66%;

		.info-headline {
			font-weight: bold;
			display: inline-block;
			font-size: .9rem;
		}

		.info-price {
			font-style: italic;
			opacity: .8;
		}

		.info-text {
			padding: 5px 0;
		}


	}

	&__info-icon {
		position: absolute;
		margin-top: -13%;
		left: 18%;
		width: 7%;
		cursor: help;

		&:hover {
		
			.st9 {
				fill: #fff;
				stroke: $black;
				stroke-weight: 1px;
			}

		}
		
	}

	&__subtext-container {
		margin: auto;
		width: 80%;
		max-width: 560px;
	}

	&__subtext {
		line-height: 1.4em;
		padding: 10px 0 30px 0;
		font-size: .9em;
		text-align: center;
	}

	&__cta {
		font-weight: 600;
		text-align: center;
		font-size: 1em;
		display: block;
		background-color: #fd7675;
		border: none;
		height: 40px;
		width: 160px;
		outline: none;
		margin: auto;
		border-radius: 50px;
		text-transform: uppercase;
		font-style: italic;
		cursor: help;
		position: relative;
		z-index: 100;

		&:hover {
			background-color: #fff;
			border: 1px solid $black;
		}
	}

}	



.main-container {
	margin: auto;
	max-width: 1280px;
	width: 85%;
	background: #fff;

	// @media (min-width: 500px) {
	// 	border-right: 75px solid #09dfff;
	// 	border-left: 75px solid #09dfff;
	// }	
}

.inside-container {
	max-width: 800px;
	margin: auto;
}

.header {
	text-align: center;
	height: 60px;

	@media (min-width: 500px) {
		height: 75px;
	}	
	
	&__logo {
		width: 95px;
		margin-top: 9px;

		@media (min-width: 500px) {
			width: 110px;
			margin-top: 15px;
		}
	
	}	
}


.group:after {
  content: "";
  display: table;
  clear: both;
}


.divider {
	margin: 30px 0;
	border-top: 1px dashed #000;
}

.form {
	width: 85%;
	margin: auto;
	padding: 30px;

	input[type="radio"] {
		display: none;
	}

	input[type="radio"]:checked + label {
		outline: 2px solid #000;	
	}

	
	&__label {
		display: block;
		padding: 5px;
		font-size: .8em;
	}

	&__title {
		font-size: 1.3em;
		letter-spacing: 1px;
		font-family: monospace;
		margin: 0px auto 30px;
		color: #e50c0c;
		line-height: 1.4;
	}

	&__swatches, &__add-ons {
		margin: 15px 0;
	}

	&__color-group {
		float: left;
		width: 50%;
	}
}

.form__swatch-square {
	height: 30px;
	width: 30px;
	border: 2px solid #fff;;
	display: inline-block;
	margin: 5px;

	&:hover {
		outline: 2px solid #383030;
	}
}

.swatch--yellow {
	@extend .form__swatch-square;
	background-color: #d3d400;
}

.swatch--seafoam {
	@extend .form__swatch-square;
	background-color: #aafffd;
}

.swatch--teal{
	@extend .form__swatch-square;
	background-color: #09dfff;
}

.swatch--red {
	@extend .form__swatch-square;
	background-color: #ff0000;
}

.swatch--pink {
	@extend .form__swatch-square;
	background-color: #ffc6ae;
}

.swatch--black {
	@extend .form__swatch-square;
	background-color: $black;
}




.order {
	display: none;
	border: 1px solid $black;
	margin-left: -2%;
	width: 104%;
	background: #fff;
	position: relative;
	z-index: 0;
	margin-top: -20px;
	padding: 5%;
	box-sizing: border-box;

	&__title {
		font-size: 1.3em;
		letter-spacing: 1px;
		font-family: monospace;
		margin: 30px auto;
		width: 80%;
		color: #e50c0c;
		line-height: 1.4;
	}
}










.footer {
	margin-top: 100px;
	height: 45px;
	background: $black;
	color: #fff;

	&__text {
		color: #A9A29D;
		text-align: center;
		padding: 15px;
		font-size: 12px;
		vertical-align: middle;
		display: block;
		margin: auto;
	}
}
